<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105120815596-vf2hle6nt97n38gtjrsiu2600gcgj754.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105120815596-vf2hle6nt97n38gtjrsiu2600gcgj754</string>
	<key>API_KEY</key>
	<string>AIzaSyADEGofVQzytYNU5JBMspT72vsLAjFov20</string>
	<key>GCM_SENDER_ID</key>
	<string>105120815596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>im.ureca.nangmanmokpo</string>
	<key>PROJECT_ID</key>
	<string>mokpo-37802</string>
	<key>STORAGE_BUCKET</key>
	<string>mokpo-37802.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105120815596:ios:a748cedc82705ded35c8c9</string>
</dict>
</plist>